*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(180deg, #b3f8b5 20%, #f8bbd0 70%);
    background-repeat: repeat;
    height:100%;
    color: #393e46;
}

h1{
    font-size: 80px;
    font-weight: 600;
}

p {
    font-size:23px;
    font-weight: 400;
}
button{
    background-color:#fa7bdf ;
    color:#393e46;
    font-size:23px;
    width:150px;
    border:0;
    outline:0;
    border-radius: 10px;
    transition: 1s ease;
}

button:hover {
    background-color:#e039bc;
    transform: scale(1.1,1.1);
}

.color,.color2,.color3{
    width:350px;
    height:100px;
    background-color: #393e46;
    border-radius: 25px;
    border:3px solid white;
    transition: 1s ease;
}

.color:hover,.color2:hover,.color3:hover{
    transform: scale(1.1,1);
}

@media screen and (max-width: 600px) {
    h1{
        font-size:50px;
        text-align: center;
    }
    p{
        text-align: center;
    }
    .color,.color2,.color3{
        width:250px;
        height:100px;
    }
}